.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding-top: 8rem;
  background-color: rgb(233, 233, 233);

  &__container {
    display: flex;
    flex-direction: column;

    &__item {
      position: relative;
      max-width: 70rem;

      &__image {
        max-height: 70rem;
        max-width: 70rem;
        display: block;
        object-fit: scale-down;
        border-radius: 1rem 0 1rem 1rem;
        transition: transform 0.5s ease-in-out;
      }

      &__instructions {
        position: absolute;
        top: 50%;
        left: 50%;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.75;
        width: 70rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        height: 70rem;
        border-radius: 1rem;
        transition: all 5s ease-in-out;

        transform: translate(-50%, -50%);
      }

      &__infoButton {
        position: absolute;
        right: -10%;
        top: 0;
        width: 7rem;
        height: 7rem;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        background-color: rgba(133, 133, 133, 0.8);
        border: none;
        opacity: 0.65;

        font-size: 3rem;
        font-weight: 500;
        cursor: pointer;
        transition: all .3s ease-in-out;
        &:hover {
          background-color: darkgray;
        }

        &__icon {
          fill: black;
          height: 4rem;
          width: 4rem;
        }
      }

      &__nextButton {
        position: absolute;
        right: -20%;
        top: 43%;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;

        font-size: 3rem;
        font-weight: 500;
        cursor: pointer;
        transition: all .3s ease-in-out;
        &:hover {
          transform: scale(1.05);
        }

        &__icon {
          fill: black;
          height: 4rem;
          width: 4rem;
        }
      }

    }

    &__content {
      margin-top: 3rem;
      text-align: center;
      max-width: 80rem;

      &__title {
        font-size: 3rem;
        font-weight: 500;
        font-family: "Noto Serif";
        margin-bottom: 1rem;
      }
    }
  }
}
