.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding-top: 8rem;
  background-color: rgb(233, 233, 233);

  &__container {
    display: flex;
    flex-direction: column;

    &__item {
      position: relative;
      display: inline-block;

      &__image {
        display: block;
        object-fit: scale-down;
        border-radius: 1rem;
      }

      &__infoButton {
        position: absolute;
        right: 0%;
        top: 0%;
        width: 7rem;
        height: 7rem;
        border-radius: 2rem;


        font-size: 3rem;
        font-weight: 500;
        cursor: pointer;
        transition: all .3s ease-in-out;
        &:hover {
          transform: scale(1.05);
        }

        &__icon {
          fill: black;
          height: 4rem;
          width: 4rem;
        }
      }

      &__nextButton {
        position: absolute;
        right: -20%;
        top: 43%;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;

        font-size: 3rem;
        font-weight: 500;
        cursor: pointer;
        transition: all .3s ease-in-out;
        &:hover {
          transform: scale(1.05);
        }

        &__icon {
          fill: black;
          height: 4rem;
          width: 4rem;
        }
      }

    }

    &__content {
      margin-top: 3rem;
      text-align: center;

      &__title {
        font-size: 3rem;
        font-weight: 500;
        font-family: "Noto Serif";
        margin-bottom: 1rem;
      }
    }
  }
}