.instructions {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.75;
  width: 70rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 70rem;
  border-radius: 1rem;
  transition-duration: .5s;
  transition-property: transform, opacity;


  background: rgba(133, 133, 133, 0.8);
  display: inline;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__title {
    font-size: 3.5rem;
    font-weight: 500;
    font-family: "Noto Serif";
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &__text {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 1rem;
  }
}