.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding-top: 8rem;
  background-color: rgb(233, 233, 233);
  user-select: none;

  &__container {
    position: relative;
    &__item {
      position: relative;
      max-width: 70rem;

      &__image {
        max-height: 70rem;
        max-width: 70rem;
        display: block;
        object-fit: scale-down;
        border-radius: 1rem 0 1rem 1rem;
        transition: transform 0.5s ease-in-out;
      }

      &__instructions {
        position: absolute;
        top: 50%;
        left: 50%;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.75;
        width: 70rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        height: 70rem;
        border-radius: 1rem 0rem 1rem 1rem;
        transition: all 5s ease-in-out;

        transform: translate(-50%, -50%);
      }

      &__nextButton {
        position: absolute;
        right: -20%;
        top: 43%;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;

        font-size: 3rem;
        font-weight: 500;
        cursor: pointer;
        transition: all .3s ease-in-out;
        &:hover {
          transform: scale(1.05);
        }

        &__icon {
          fill: black;
          height: 4rem;
          width: 4rem;
        }
      }

    }
  }
}
