.item {
  position: relative;
  cursor: pointer;

  &__image {
    border-radius: 1rem;
    width: 30rem;
  }

  &__content {
    color: black;
    border-radius: 1rem;
    font-size: 1.75rem;
    text-align: center;
    justify-content: center;

    display: flex;
    line-height: 3rem;

    &:hover {
      color: #363535;
    }
  }
}