.item {
  position: relative;
  cursor: pointer;

  &__image {
    border-radius: 1rem;
    width: 30rem;

    @media only screen and (max-width: 1800px) {
      width: 25rem;
    }

    @media only screen and (max-width: 1024px) {
      width: 20rem;
    }

    @media only screen and (max-width: 480px) {
      width: 15rem;
    }
  }

  &__content {
    color: black;
    border-radius: 1rem;
    font-size: 1.75rem;
    text-align: center;
    justify-content: center;

    display: flex;
    line-height: 3rem;

    &:hover {
      color: #363535;
    }

    @media only screen and (max-width: 1600px) {
      font-size: 1.5rem;
    }
  }
}