.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(233, 233, 233);
  padding-left: 10rem;
  padding-right: 10rem;
  user-select: none;

  @media only screen and (max-width: 750px) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  &__recipes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, min-content);
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    justify-content: space-between;
    margin-top: 10rem;

    @media only screen and (max-width: 1600px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media only screen and (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (max-width: 750px) {
      grid-template-columns: repeat(2, min-content);
    }

    @media only screen and (max-width: 480px) {
      grid-column-gap: 3rem;
    }
  }

  &__noRecipes {
    margin-top: 10rem;
    font-size: 2rem;
    color: #727070;

  }
}