.container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 5rem);
  overflow: hidden;
}

.authForm {
  padding: 20rem;
  margin-right: auto;

  @media only screen and (max-width: 1600px) {
    padding: 10rem;
  }

  @media only screen and (max-width: 1300px) {
    padding: 10rem;
  }

  @media only screen and (max-width: 542px) {
    padding: 3rem;
  }

  &__mobile {
    background-color: #ffffff;
    border-radius: 2rem;
    margin: auto;
  }

  &__smallScreen {
    background-color: transparent;
    padding: 2.55rem;
  }

  &__header {
    margin-bottom: 4rem;
    margin-top: 2rem;

    &__text {
      font-size: 4.5rem;
      font-family: 'PT Serif', "Times New Roman", serif;
    }

    &__authType {
      border: none;
      margin-top: 2rem;
      font-size: 2rem;

      &__button {
        border: none;
        cursor: pointer;
        color:  #007c89;
        font-size: 2rem;
        padding-left: 1rem;
        background: none;
        text-decoration: underline;
      }
    }
  }
}

.background {
  display: flex;
  justify-content: flex-end;
  object-fit: contain;

  &__img {
    height: 100vh;
    object-fit: cover;
  }
}

.control {
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 3rem;
  user-select: none;

  &__label {
    font-weight: 600;
    font-family: Arial, serif;
    margin-bottom: .5rem;
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    width: 50rem;
    color: inherit;
    border: none;
    border-radius: .25rem;
    padding: 1rem 1.5rem;
    margin-top: .75rem;
    box-shadow: 0 0 0 .25px #000000;
    transition: all .2s ease;

    &__mobile {
      max-width: 50rem;
      width: 70vw;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2.5px #bebbbb;
    }
  }
}

// button
.actions {
  display: flex;
  width: 100%;

  &__button {
    background-color: #868585;
    border: 1.5px solid black;
    font-weight: 500;
    font-size: 1.6rem;
    font-family: Arial, serif;
    padding: 1.5rem 3rem;
    color: white;
    border-radius: 5rem;
    cursor: pointer;
    transition: all .2s ease;

    &:hover {
      background-color: #444343;
    }
  }
}
