// SEARCH
.search {
  display: flex;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__input {
    animation: flow 1.75s cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-fill-mode: forwards;

    background-color: #F5EBEB;
    font-family: inherit;
    font-size: inherit;
    border: .1rem solid black;
    padding: .75rem 2rem;
    width: 45vw !important;
    border-radius: 2rem;

    @media only screen and (max-width: 1500px) {
      margin-right: -4.25rem;
      width: 40vw !important;
    }
    @media only screen and (max-width: 780px) {
      margin-right: -20rem;
    }


    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: black;
      opacity: .75;
      font-style: italic;
    }
  }

  &__button {
    border: none;
    background-color: transparent;
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    fill: black;
    transition: all .5s ease;

    &:hover {
      transform: scale(1.15);
    }
  }
}

.rotated {
  transform: rotate(90deg);
}

.original {
  transform: rotate(0deg);
}

@keyframes flow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

